@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Boldonse&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@layer utilities {
  .font-bolder {
    font-weight: 800 !important;
  }
}

@import "tailwindcss";



@theme{
  --color-bg-light: rgba(243, 239, 239);
  --color-s-white: rgba(251, 251, 251);
  --color-accent: rgba(215, 47, 89);
  --color-dark: rgba(17, 17, 17);

  --font-nunito: "Nunito", sans-serif;
}

.bg-diagonal {
  background-image: repeating-linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.08) 3px,
    transparent 2px,
    transparent 6px
  );
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #888 #f1f1f1; /* thumb color track color */
}

/* For Chrome, Edge, and Safari */
.scroll-container::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid #f1f1f1; /* creates padding around scroll thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}


:root {

  font-family: "Nunito",system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(17, 17, 17);
  background-color: rgba(243, 239, 239);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100dvh;
  height: 100dvh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul span {
  user-select: none;
  cursor: pointer;
}

ul li{
  padding-left: 1.3em;
  position: relative;
  line-height: 2.2em;
}

ul li::before{
  position: absolute;
  left: 0.3em;
  top: 0.2em;
  width: 12px;
  height: 14px;
  content: '';
  border-left: 2px solid rgb(201, 201, 201);
  border-bottom: 2px solid rgb(201, 201, 201);
}

ul li::after{
  content: '';
  position: absolute;
  left: 0.3em;
  top: 0;
  width: 10px;
  height: 100%;
  border-left: 2px solid rgb(201, 201, 201);
}

ul li:last-child::before {
  top: 0em;
  height: 17px;
}

ul li:last-child::after {
  display: none;
}

ul.tree > li > ul > li:last-child::after {
  display: block;
}

ul.tree > li {
  padding-left: 0px;
}

ul.tree > li::before, 
ul.tree > li::after {
  display: none;
}